<configuration>
  <assemblySettings>
    <add key="fsi" value="D:\\FSharp-1.9.6.2\\bin\\fsi.exe"/>
    <add key="ipy" value="D:\\IronPython 2.6\\ipy.exe"/>
    <add key="stilib" value="E:\\Programs\\Stimulus\\StiLib\\Release\\"/>
    <add key="content" value="E:\\Programs\\Stimulus\\StiLib\\Release\\Content\\"/>
  </assemblySettings>
</configuration>