<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    
    <!--LocalHost Name-->
    <add key="localhost" value="ZHANGLI"/>
    <!--FSharp Interactive(fsi.exe) Path-->
    <add key="fsi" value="D:\\FSharp-1.9.6.16\\bin\\fsi.exe"/>
    <!--IronPython(ipy.exe) Path-->
    <add key="ipy" value="D:\\IronPython 2.6\\ipy.exe"/>
    <!--StiLib Assembly(StiLib.dll) Path-->
    <add key="stilib" value="E:\\Programs\\Stimulus\\StiLib\\Release\\"/>
    <!--StiLib Root Content Path-->
    <add key="content" value="E:\\Programs\\Stimulus\\StiLib\\Release\\Content\\"/>
    
    <!--Distantce To Display(mm)-->
    <add key="distance2display" value="570"/>
    <!--Display Ratio(Width : Height)-->
    <add key="displayratio" value="1.333"/>
    <!--Display Viewable Diagonal Length(inch)-->
    <add key="displaysize" value="20"/>

    <!--GraphicsDevice BackBuffer Count(0-3)-->
    <add key="buffercount" value="2"/>
    <!--Client Window Width(pixel)-->
    <add key="width" value="800"/>
    <!--Client Window Height(pixel)-->
    <add key="height" value="600"/>
    <!--Display Refresh Rate, Windowed Mode(0), Fullscreen Mode(>0)-->
    <add key="refreshrate" value="0"/>
    <!--SLGame Content Update Rate, Variable-Step Game Loop(0), Fixed-Step Game Loop(>0)-->
    <add key="updaterate" value="0"/>
    <!--If Enable Vertical Synchronization-->
    <add key="isvsync" value="false"/>
    <!--If Show Cursor-->
    <add key="isshowcursor" value="true"/>
    <!--If Client Window Has Border-->
    <add key="isborder" value="true"/>
    <!--If Client Window Can Be Resized-->
    <add key="issizable" value="false"/>
    <!--Current Red Gamma Value-->
    <add key="gammaR" value="1.0"/>
    <!--Current Green Gamma Value-->
    <add key="gammaG" value="1.0"/>
    <!--Current Blue Gamma Value-->
    <add key="gammaB" value="1.0"/>
    
  </assemblySettings>
</configuration>