<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="ExBehavior" name="StiLibTest_02.Server">
        <endpoint  address="" binding="netTcpBinding" bindingConfiguration="BindingConfig"
          contract="StiLib.Core.IExService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://zhangli:8080/ExServer" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior  name="ExBehavior">
          <serviceMetadata  httpGetEnabled="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfig">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
